
@import url('../base/reset.css');
@import url('../componentes/navbar.css');
@import url('../componentes/hero.css');
@import url('../componentes/footer.css');

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2196F3;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    padding: 20px;
}

table {
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #cce6ff;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.input-archivo {
    position: absolute;
    left: -9999px;
}

.etiqueta-archivo {
    display: inline-block;
    background: #B8DCFF;
    border: 2px dashed #E0E0E0;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    
}

.etiqueta-archivo:hover {
    border-color: #1f1e13;
    background: #70a1d2;
}

.texto-archivo {
    color: #6C757D;
    font-weight: 500;
}

textarea {
    height: 120px;
    resize: none;
}

.button {
    margin-top: 20px;
    background-color: #FFD700;
    border: none;
    padding: 12px 25px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}