<aside class="sidebar">
    <a href="usuarioperfil.php" class="sidebar-icon">
      <img src="../view/media/user.png" alt="Mi perfil" style="width: 20px; height: 20px; vertical-align: middle;">
      <span>Perfil</span>
    </a>
    <a href="usuariodonaciones.php" class="sidebar-icon">
      <img src="../view/media/donaciones.png" alt="Mis donaciones" style="width: 20px; height: 20px; vertical-align: middle;">
      <span>Donaciones</span>
    </a>
    <a href="../index.php" class="sidebar-icon">
      <img src="../view/media/cerrarsesion.png" alt="Cerrar sesión" style="width: 20px; height: 20px; vertical-align: middle;">
      <span>Cerrar sesión</span>
    </a>
  </aside>