<!DOCTYPE html>
<!--  Autor: Edwin Ariel Ramos Alvarez  -->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donativos ITOrizaba - ONG de cooperacion para la institucion</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- NO JALA POR ESO IMPORTO TODO EN LOS ESTILOS POR PAGINA -->
    <?php
    if (isset($customStyles)) {
      echo $customStyles;
     }
  ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>